In [2]:
#dependencies
import pandas as pd
import numpy as np

In [6]:
#reading in the covid data file
path = '../perry/input_data/all-states-covid-data.csv'
all_covid_data_df = pd.read_csv(path)
all_covid_data_df.sample(10)

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
13252,2020-04-26,NV,F,235.0,NaN,6,NaN,NaN,NaN,NaN,...,44108.0,718,NaN,NaN,NaN,NaN,NaN,0,46965.0,1080
4419,2020-10-01,VT,B,58.0,58.0,0,NaN,NaN,NaN,3.0,...,286326.0,3591,NaN,NaN,NaN,NaN,162363.0,1007,286326.0,3591
3579,2020-10-16,VT,B,58.0,58.0,0,NaN,NaN,NaN,1.0,...,342441.0,1866,NaN,NaN,NaN,NaN,175298.0,833,342441.0,1866
12662,2020-05-06,CO,B,921.0,NaN,18,NaN,2986.0,2986.0,798.0,...,99827.0,3161,NaN,NaN,NaN,NaN,89529.0,3553,NaN,0
14244,2020-04-08,LA,A,652.0,NaN,70,NaN,NaN,NaN,1983.0,...,81406.0,6751,NaN,NaN,NaN,NaN,NaN,0,NaN,0
15009,2020-03-25,AL,C,0.0,NaN,0,NaN,NaN,NaN,91.0,...,2812.0,491,NaN,NaN,NaN,NaN,2812.0,491,NaN,0
11206,2020-06-01,CO,A,1458.0,1152.0,13,306.0,4372.0,4372.0,394.0,...,218116.0,5096,62953.0,NaN,NaN,NaN,188069.0,4122,NaN,0
9838,2020-06-26,OH,B,2788.0,2545.0,16,243.0,7570.0,7570.0,624.0,...,721552.0,21922,NaN,NaN,NaN,NaN,NaN,0,718086.0,21886
14546,2020-04-03,PR,A,15.0,NaN,3,NaN,NaN,NaN,NaN,...,2427.0,507,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8923,2020-07-12,KY,B,625.0,621.0,3,4.0,2779.0,2779.0,370.0,...,437088.0,0,38895.0,NaN,NaN,NaN,NaN,0,437088.0,0

In [3]:
#displaying columns
all_covid_data_df.columns

Index(['date', 'state', 'dataQualityGrade', 'death', 'deathConfirmed',
       'deathIncrease', 'deathProbable', 'hospitalized',
       'hospitalizedCumulative', 'hospitalizedCurrently',
       'hospitalizedIncrease', 'inIcuCumulative', 'inIcuCurrently', 'negative',
       'negativeIncrease', 'negativeTestsAntibody',
       'negativeTestsPeopleAntibody', 'negativeTestsViral',
       'onVentilatorCumulative', 'onVentilatorCurrently', 'positive',
       'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

In [7]:
#creating a dict for making a shorter covid df with only relevant cols
covid_cols_dict = {
    'date': [x for x in all_covid_data_df['date']],
    'state': [x for x in all_covid_data_df['state']],
    'positive_cases': [x for x in all_covid_data_df['positive']],
    'total_tests': [x for x in all_covid_data_df['totalTestResults']]
}

In [9]:
#creating a shorter covid df
covid_cols_df = pd.DataFrame(covid_cols_dict)
covid_cols_df.head()

         date state  positive_cases  total_tests
0  2020-12-18    AK         41905.0    1184922.0
1  2020-12-18    AL        315683.0    1764750.0
2  2020-12-18    AR        197421.0    1913448.0
3  2020-12-18    AS             0.0       2140.0
4  2020-12-18    AZ        442671.0    4514548.0

In [6]:
#creating a new col in covid cols df for %age of positive cases
covid_cols_df['percentage_positive'] = (covid_cols_df['positive_cases']/covid_cols_df['total_tests']) * 100
covid_cols_df.head()

         date state  positive_cases  total_tests  percentage_positive
0  2020-12-18    AK         41905.0    1184922.0             3.536520
1  2020-12-18    AL        315683.0    1764750.0            17.888256
2  2020-12-18    AR        197421.0    1913448.0            10.317552
3  2020-12-18    AS             0.0       2140.0             0.000000
4  2020-12-18    AZ        442671.0    4514548.0             9.805433

In [7]:
#resetting index as the dates
covid_cols_df = covid_cols_df.set_index('date')

In [8]:
#showing the head of the covid cols df
covid_cols_df.head()

           state  positive_cases  total_tests  percentage_positive
date
2020-12-18    AK         41905.0    1184922.0             3.536520
2020-12-18    AL        315683.0    1764750.0            17.888256
2020-12-18    AR        197421.0    1913448.0            10.317552
2020-12-18    AS             0.0       2140.0             0.000000
2020-12-18    AZ        442671.0    4514548.0             9.805433

In [10]:
#reading in the state abbreviations
path = '../perry/input_data/statesAbbrev.csv'
statesAbbrev_df = pd.read_csv(path)
statesAbbrev_df.tail(25)

             State Abbrev Code
26         Montana  Mont.   MT
27        Nebraska  Nebr.   NE
28          Nevada   Nev.   NV
29   New Hampshire   N.H.   NH
30      New Jersey   N.J.   NJ
31      New Mexico   N.M.   NM
32        New York   N.Y.   NY
33  North Carolina   N.C.   NC
34    North Dakota   N.D.   ND
35            Ohio   Ohio   OH
36        Oklahoma  Okla.   OK
37          Oregon   Ore.   OR
38    Pennsylvania    Pa.   PA
39    Rhode Island   R.I.   RI
40  South Carolina   S.C.   SC
41    South Dakota   S.D.   SD
42       Tennessee  Tenn.   TN
43           Texas   Tex.   TX
44            Utah   Utah   UT
45         Vermont    Vt.   VT
46        Virginia    Va.   VA
47      Washington  Wash.   WA
48   West Virginia  W.Va.   WV
49       Wisconsin   Wis.   WI
50         Wyoming   Wyo.   WY

In [10]:
#list for state codes
state_codes = [x for x in statesAbbrev_df['Code']]

In [11]:
#list for state names
state_names = [x for x in statesAbbrev_df['State']]

In [12]:
#finding the codes for each of the states concerned here
state_codes[39], state_codes[38], state_codes[37], state_codes[36], state_codes[35], state_codes[34], state_codes[33], state_codes[32], state_codes[31], state_codes[30]

('RI', 'PA', 'OR', 'OK', 'OH', 'ND', 'NC', 'NY', 'NM', 'NJ')

In [13]:
#reading in the stay at home order df
path = '../perry/full_SAH_orders.csv'
sah_data_df = pd.read_csv(path)
sah_data_df.head()

,state_name,start_date,end_date,gathering_bans,previous_orders_start_date,previous_orders_end_date
0,Hawaii,4/25/2020,5/31/2020,NaN,NaN,NaN
1,Washington,4/2/2020,5/4/2020,NaN,NaN,NaN
2,Montana,4/24/2020,4/26/2020,More than 10,NaN,NaN
3,Maine,4/2/2020,4/30/2020,NaN,NaN,NaN
4,North Dakota,NaN,NaN,NaN,NaN,NaN

In [34]:
#creating a df dict to hold the state dfs, reading in the dfs
states_df_dict = {}
for x in range(39, 40):
    path = f'../perry/input_data/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'] = pd.read_csv(path)

In [35]:
#testing to see how many states lie in the df dict
len(states_df_dict)

1

In [36]:
#inspecting the keys (ie df names)
states_df_dict.keys()

dict_keys(['RI_data_df'])

In [17]:
#test printing a df
print(state_codes[38])
states_df_dict[f'{state_codes[38]}_data_df'].head(10)

PA

,time,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,...,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather,covid_cases,stay_at_home,mass_gathering_ban
0,2019-01-06,96,68,87,78,70,0,62,22,80,...,61,91,56,70,92,46,56,NaN,True,False
1,2019-01-13,94,68,86,80,70,0,60,24,76,...,59,92,52,63,88,51,100,NaN,True,False
2,2019-01-20,89,64,85,80,72,0,59,26,79,...,57,91,59,62,92,42,69,NaN,True,False
3,2019-01-27,89,66,82,74,67,0,58,25,79,...,57,87,57,45,85,62,94,NaN,True,False
4,2019-02-03,85,69,86,80,59,0,55,24,70,...,55,88,49,66,86,47,52,NaN,True,False
5,2019-02-10,91,68,84,72,65,0,59,30,70,...,57,88,53,49,90,49,75,NaN,True,False
6,2019-02-17,95,73,91,78,67,0,72,26,79,...,62,88,53,52,89,49,76,NaN,True,False
7,2019-02-24,100,73,89,85,60,0,62,24,71,...,61,93,51,57,88,55,64,NaN,True,False
8,2019-03-03,92,71,89,78,62,0,50,51,66,...,63,89,48,60,100,53,67,NaN,True,False
9,2019-03-10,88,74,79,76,62,0,56,23,67,...,57,88,42,87,88,57,47,NaN,False,False

In [38]:
#creating a list of all the dates the states df have cat data for
dates_list = [x for x in states_df_dict[f'{state_codes[39]}_data_df']['time']]
dates_list

['2019-01-06',
 '2019-01-13',
 '2019-01-20',
 '2019-01-27',
 '2019-02-03',
 '2019-02-10',
 '2019-02-17',
 '2019-02-24',
 '2019-03-03',
 '2019-03-10',
 '2019-03-17',
 '2019-03-24',
 '2019-03-31',
 '2019-04-07',
 '2019-04-14',
 '2019-04-21',
 '2019-04-28',
 '2019-05-05',
 '2019-05-12',
 '2019-05-19',
 '2019-05-26',
 '2019-06-02',
 '2019-06-09',
 '2019-06-16',
 '2019-06-23',
 '2019-06-30',
 '2019-07-07',
 '2019-07-14',
 '2019-07-21',
 '2019-07-28',
 '2019-08-04',
 '2019-08-11',
 '2019-08-18',
 '2019-08-25',
 '2019-09-01',
 '2019-09-08',
 '2019-09-15',
 '2019-09-22',
 '2019-09-29',
 '2019-10-06',
 '2019-10-13',
 '2019-10-20',
 '2019-10-27',
 '2019-11-03',
 '2019-11-10',
 '2019-11-17',
 '2019-11-24',
 '2019-12-01',
 '2019-12-08',
 '2019-12-15',
 '2019-12-22',
 '2019-12-29',
 '2020-01-05',
 '2020-01-12',
 '2020-01-19',
 '2020-01-26',
 '2020-02-02',
 '2020-02-09',
 '2020-02-16',
 '2020-02-23',
 '2020-03-01',
 '2020-03-08',
 '2020-03-15',
 '2020-03-22',
 '2020-03-29',
 '2020-04-05',
 '2020-04-12',
 '2020-04-19',
 '2020-04-26',
 '2020-05-03',
 '2020-05-10',
 '2020-05-17',
 '2020-05-24',
 '2020-05-31',
 '2020-06-07',
 '2020-06-14',
 '2020-06-21',
 '2020-06-28',
 '2020-07-05',
 '2020-07-12',
 '2020-07-19',
 '2020-07-26',
 '2020-08-02',
 '2020-08-09',
 '2020-08-16',
 '2020-08-23',
 '2020-08-30',
 '2020-09-06',
 '2020-09-13',
 '2020-09-20',
 '2020-09-27',
 '2020-10-04',
 '2020-10-11',
 '2020-10-18',
 '2020-10-25',
 '2020-11-01',
 '2020-11-08',
 '2020-11-15',
 '2020-11-22',
 '2020-11-29',
 '2020-12-06',
 '2020-12-13',
 '2020-12-20']

In [19]:
#testing the char indices for only the year-month
dates_list[0][0:7]

'2019-01'

In [39]:
#creating a list of unique year-month combos
all_month_year = [x[0:7] for x in dates_list]
month_year = set(all_month_year)
month_year = list(month_year)

In [40]:
#function for appending dates per month, and their indices, to a month_date_dict
months_dates_dict = {}
def date_dict_append(m):
    month_date_list = []
    for x in range(0, len(dates_list)):
        if dates_list[x][0:7] == month_year[m]:
            month_date_list.append((dates_list[x], x))
    #months_dates_dict = {}
    months_dates_dict[f'{month_year[m]}'] = month_date_list
    #print(month_date_list)
    #print(months_dates_dict)

In [41]:
#calling the function for each month in the month-year dict
for m in range(0, len(month_year)):
    date_dict_append(m)

In [42]:
#printing the dict
print(months_dates_dict)
len(months_dates_dict)

{'2019-05': [('2019-05-05', 17), ('2019-05-12', 18), ('2019-05-19', 19), ('2019-05-26', 20)], '2020-03': [('2020-03-01', 60), ('2020-03-08', 61), ('2020-03-15', 62), ('2020-03-22', 63), ('2020-03-29', 64)], '2020-04': [('2020-04-05', 65), ('2020-04-12', 66), ('2020-04-19', 67), ('2020-04-26', 68)], '2020-10': [('2020-10-04', 91), ('2020-10-11', 92), ('2020-10-18', 93), ('2020-10-25', 94)], '2020-11': [('2020-11-01', 95), ('2020-11-08', 96), ('2020-11-15', 97), ('2020-11-22', 98), ('2020-11-29', 99)], '2020-02': [('2020-02-02', 56), ('2020-02-09', 57), ('2020-02-16', 58), ('2020-02-23', 59)], '2019-11': [('2019-11-03', 43), ('2019-11-10', 44), ('2019-11-17', 45), ('2019-11-24', 46)], '2019-07': [('2019-07-07', 26), ('2019-07-14', 27), ('2019-07-21', 28), ('2019-07-28', 29)], '2019-06': [('2019-06-02', 21), ('2019-06-09', 22), ('2019-06-16', 23), ('2019-06-23', 24), ('2019-06-30', 25)], '2020-08': [('2020-08-02', 82), ('2020-08-09', 83), ('2020-08-16', 84), ('2020-08-23', 85), ('2020-08-30', 86)], '2020-06': [('2020-06-07', 74), ('2020-06-14', 75), ('2020-06-21', 76), ('2020-06-28', 77)], '2020-12': [('2020-12-06', 100), ('2020-12-13', 101), ('2020-12-20', 102)], '2020-09': [('2020-09-06', 87), ('2020-09-13', 88), ('2020-09-20', 89), ('2020-09-27', 90)], '2020-07': [('2020-07-05', 78), ('2020-07-12', 79), ('2020-07-19', 80), ('2020-07-26', 81)], '2019-04': [('2019-04-07', 13), ('2019-04-14', 14), ('2019-04-21', 15), ('2019-04-28', 16)], '2019-12': [('2019-12-01', 47), ('2019-12-08', 48), ('2019-12-15', 49), ('2019-12-22', 50), ('2019-12-29', 51)], '2019-08': [('2019-08-04', 30), ('2019-08-11', 31), ('2019-08-18', 32), ('2019-08-25', 33)], '2019-02': [('2019-02-03', 4), ('2019-02-10', 5), ('2019-02-17', 6), ('2019-02-24', 7)], '2020-01': [('2020-01-05', 52), ('2020-01-12', 53), ('2020-01-19', 54), ('2020-01-26', 55)], '2019-01': [('2019-01-06', 0), ('2019-01-13', 1), ('2019-01-20', 2), ('2019-01-27', 3)], '2019-09': [('2019-09-01', 34), ('2019-09-08', 35), ('2019-09-15', 36), ('2019-09-22', 37), ('2019-09-29', 38)], '2020-05': [('2020-05-03', 69), ('2020-05-10', 70), ('2020-05-17', 71), ('2020-05-24', 72), ('2020-05-31', 73)], '2019-10': [('2019-10-06', 39), ('2019-10-13', 40), ('2019-10-20', 41), ('2019-10-27', 42)], '2019-03': [('2019-03-03', 8), ('2019-03-10', 9), ('2019-03-17', 10), ('2019-03-24', 11), ('2019-03-31', 12)]}

24

In [43]:
#defining function for appending the covid data to each state df
def covid_data_append(state_index):
    global state_date_list
    state_date_list = []
    for date in dates_list:
        try:
            state_date_list.append(covid_cols_df[covid_cols_df['state'] == state_codes[state_index]].loc[date, 'positive_cases'])
        except KeyError:
            print(date)
            state_date_list.append('n/a')
            continue  
    states_df_dict[f'{state_codes[state_index]}_data_df']['covid_cases'] = state_date_list
    print(states_df_dict[f'{state_codes[state_index]}_data_df'].tail(20))

In [44]:
#calling funct for states dfs index 40-50
for x in range(39, 40):
    covid_data_append(x)

2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-12-20
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  79     87              83         47
84   2020-08-16                  82     81              81         51
85   2020-08-23                  85     79              82         54
86   2020-08-30                  83     81              75         59
87   2020-09-06                  83     82              78         62
88   2020-09-13                  87     74              78         83
89   2020-09-20                  84     73              78         87
90   2020-09-27                  84     73              83         72
91   2020-10-04                  83     70              77         69
92   2020-10-11                  76     67              73         53
93   2020-10-18                  76     69              78         59
94   2020-10-25                  79     71              70         59
95   2020-11-01                  72     60              65         54
96   2020-11-08                  79     67              77         62
97   2020-11-15                  70     62              82         57
98   2020-11-22                  73     55              70         51
99   2020-11-29                  74     56              73         56
100  2020-12-06                  73     60              74         54
101  2020-12-13                  69     56              63         53
102  2020-12-20                  75     56              73         50

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 55                    1      60              44
84                 57                    1      60              51
85                 69                    1      79              20
86                 76                    1      55              25
87                 70                    1      53              53
88                 61                    1      55              12
89                 66                    1      51              35
90                 62                    2      97              38
91                 63                    2      86              31
92                 45                    2      57              27
93                 51                    3      58              24
94                 89                    3      51              40
95                 76                  100     100              45
96                 44                    9      98              35
97                 54                    2      58              21
98                 45                    1      58              16
99                 62                    1      53              13
100                58                    1      46               8
101                45                    1      54               3
102                46                    0      59              18

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    54  ...       71           72             36
84                    55  ...       60           71             51
85                    59  ...       54           70             40
86                    46  ...       59           65             49
87                    60  ...       58           71             52
88                    60  ...       64          100             69
89                    51  ...       64           90             29
90                    43  ...       51           71             58
91                    41  ...       49           77             38
92                    48  ...       89           69             35
93                    37  ...       68           60             43
94                    52  ...       55           74             56
95                    36  ...       51           65             61
96                    64  ...       68           66             62
97                    42  ...       58           63             60
98                    47  ...       45           45             67
99                    44  ...       52           60             88
100                   53  ...       52           47             71
101                   41  ...       45           51             72
102                   64  ...       56           52             86

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           50        74              13       52        19906         False
84           79        77              26       55        20514         False
85           58        79              26       74        21263         False
86           49        65              21       48        21903         False
87           77        75              30       50        22519         False
88           79        75              34       45        23098         False
89           66        79              30       45        23880         False
90           81        78              26       53        24398         False
91           52        75              22       46        25369         False
92           39        78              37       56        26750         False
93           24        67              27       46        28262         False
94           52        79               5       60        30857         False
95           42        63              17       38        33888         False
96           35       100              18       42        37743         False
97           32        76              23       41        43442         False
98           42        72              23       37        50144         False
99           30        74              49       52        56072         False
100          39        68              36       45        64974         False
101          42        73              37       86        73519         False
102          43        76              25       48          n/a         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]

In [45]:
#defining a funct for appending whether stay at home orders or gathering bans are happening
def value_changer(index_no):
    print(sah_data_df[sah_data_df['state_name'] == state_names[index_no]]) 
    query = input('is there a stay at home order? Yes/No')
    if query == 'Yes':
        start_month = input('start month')
        end_month = input('end month')
        print(months_dates_dict[f'2020-{start_month}'])
        print(months_dates_dict[f'2020-{end_month}'])
        val1 = int(input('start index'))
        val2 = int(input('end index(first index after the end of the ban)'))
        response = input('gathering ban? Yes/No')
        if response == 'Yes':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -1] = 'True'
        elif response == 'No':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].iloc[(val1-2):(val2+2), :])
    elif query == 'No':
        print(f'{state_codes[index_no]}_data_df has no bans')
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))
    else:
        ask = input('Did you make a mistake?Yes/No')
        if ask == 'Yes':
            value_changer(index_no)
        else:
            print(f'{state_codes[index_no]}_data_df has no bans')
            print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))

In [46]:
#calling the funct for all of the states ind 40-50
for x in range(39, 40):
    value_changer(x)

      state_name start_date  end_date gathering_bans  \
19  Rhode Island  4/10/2020  5/8/2020    More than 5

   previous_orders_start_date previous_orders_end_date
19                  3/30/2020                4/13/2020
is there a stay at home order? Yes/No04
Did you make a mistake?Yes/No05
RI_data_df has no bans
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
93   2020-10-18                  76     69              78         59
94   2020-10-25                  79     71              70         59
95   2020-11-01                  72     60              65         54
96   2020-11-08                  79     67              77         62
97   2020-11-15                  70     62              82         57
98   2020-11-22                  73     55              70         51
99   2020-11-29                  74     56              73         56
100  2020-12-06                  73     60              74         54
101  2020-12-13                  69     56              63         53
102  2020-12-20                  75     56              73         50

     action_adventure  campaigns_elections  celebs  discrimination  \
93                 51                    3      58              24
94                 89                    3      51              40
95                 76                  100     100              45
96                 44                    9      98              35
97                 54                    2      58              21
98                 45                    1      58              16
99                 62                    1      53              13
100                58                    1      46               8
101                45                    1      54               3
102                46                    0      59              18

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
93                    37  ...       68           60             43
94                    52  ...       55           74             56
95                    36  ...       51           65             61
96                    64  ...       68           66             62
97                    42  ...       58           63             60
98                    47  ...       45           45             67
99                    44  ...       52           60             88
100                   53  ...       52           47             71
101                   41  ...       45           51             72
102                   64  ...       56           52             86

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
93           24        67              27       46        28262         False
94           52        79               5       60        30857         False
95           42        63              17       38        33888         False
96           35       100              18       42        37743         False
97           32        76              23       41        43442         False
98           42        72              23       37        50144         False
99           30        74              49       52        56072         False
100          39        68              36       45        64974         False
101          42        73              37       86        73519         False
102          43        76              25       48          n/a         False

     mass_gathering_ban
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[10 rows x 25 columns]

In [47]:
#outputting the dfs back out
for x in range(39,40):
    output_path = f'../perry/states_data/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'].to_csv(output_path, index=False)