In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import json

#import numpy as np

In [2]:
#url for get request 
#url = "https://api.covidtracking.com/v1/states/daily.json"

#response = requests.get(url).json()

#print (json.dumps(response, indent=4, sort_keys=True))

In [8]:
all_states_history_path = "data/all-states-history.csv"
national_history_path = "data/national-history.csv"

all_states_history = pd.read_csv(all_states_history_path)
national_history = pd.read_csv(national_history_path)

#split date column
all_states_history[["year", "month", "day"]] = all_states_history["date"].str.split('-',expand=True)

#make new df
all_states_df = pd.DataFrame(all_states_history[["date", "year", "month", "state", "death", "positive", "recovered", "totalTestResults"]])


#remove NaN from columns
all_states_df["death"] = all_states_df["death"].fillna(0)
all_states_df["positive"] = all_states_df["positive"].fillna(0)
all_states_df["recovered"] = all_states_df["recovered"].fillna(0)
all_states_df["totalTestResults"] = all_states_df["totalTestResults"].fillna(0)

#adding percent infected column
#add percent sign 
all_states_df["Percent Infected Rate"] = (all_states_df["positive"]/all_states_df["totalTestResults"])

all_states_df.head()

/Users/Keiko/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,date,year,month,state,death,positive,recovered,totalTestResults,Percent Infected Rate
0,2021-01-04,2021,01,AK,218.0,46812.0,7165.0,1297498.0,0.036079
1,2021-01-04,2021,01,AL,4878.0,374095.0,202137.0,1903388.0,0.196542
2,2021-01-04,2021,01,AR,3800.0,234781.0,207898.0,2095621.0,0.112034
3,2021-01-04,2021,01,AS,0.0,0.0,0.0,2140.0,0.000000
4,2021-01-04,2021,01,AZ,9064.0,561542.0,79480.0,5288658.0,0.106179

In [7]:
total_month_df = all_states_df.loc[(all_states_df.date == "2020-01-31") | (all_states_df.date == "2020-02-28") | (all_states_df.date == "2020-03-31") |
                               (all_states_df.date == "2020-04-30") | (all_states_df.date == "2020-05-31") | (all_states_df.date == "2020-06-30") |
                               (all_states_df.date == "2020-07-31") | (all_states_df.date == "2020-08-31") | (all_states_df.date == "2020-09-30") |
                               (all_states_df.date == "2020-10-31") |(all_states_df.date == "2020-11-30") | (all_states_df.date == "2020-12-31") ]

total_month_df

,date,year,month,state,death,positive,recovered,totalTestResults,Percent Infected Rate
224,2020-12-31,2020,12,AK,206.0,45461.0,7165.0,1275750.0,0.035635
225,2020-12-31,2020,12,AL,4827.0,361226.0,202137.0,1874000.0,0.192757
226,2020-12-31,2020,12,AR,3676.0,225138.0,199247.0,2051488.0,0.109744
227,2020-12-31,2020,12,AS,0.0,0.0,0.0,2140.0,0.000000
228,2020-12-31,2020,12,AZ,8864.0,520207.0,75981.0,5059770.0,0.102812
...,...,...,...,...,...,...,...,...,...
17119,2020-02-28,2020,02,VA,0.0,0.0,0.0,6445.0,0.000000
17120,2020-02-28,2020,02,WA,4.0,15.0,0.0,0.0,inf
17235,2020-01-31,2020,01,FL,0.0,0.0,0.0,4.0,0.000000
17236,2020-01-31,2020,01,MA,0.0,0.0,0.0,4.0,0.000000
17237,2020-01-31,2020,01,WA,0.0,2.0,0.0,0.0,inf

In [6]:
#groupby month.
#need to find out how to take the last row of data from each month
grouped_states = total_month_df.groupby(["month"]).sum()

#rest index 
grouped_states

,death,positive,recovered,totalTestResults,Percent Infected Rate
month,,,,,
01,0.0,2.0,0.0,8.0,inf
02,4.0,15.0,0.0,6490.0,inf
03,4332.0,196932.0,5666.0,1183973.0,7.299423
04,59599.0,1073216.0,154587.0,6636253.0,6.349210
05,100780.0,1791401.0,522456.0,18080415.0,4.301124
06,120257.0,2623195.0,813219.0,34745559.0,3.425782
07,145513.0,4523548.0,1437182.0,60436958.0,3.486560
08,175752.0,5980598.0,2183106.0,85410102.0,3.467190
09,199084.0,7173320.0,2838664.0,112431764.0,3.387577
10,222639.0,9065650.0,3610296.0,148342276.0,3.599842
11,259697.0,13492989.0,5146643.0,195540061.0,4.383025
12,336811.0,19766247.0,7919313.0,250527717.0,5.041529